.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: inherit;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block;
}

table {
    text-align: center;
    margin: auto;
}